/* You can add global styles to this file, and also import other style files */
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 20px 0px;
  background: linear-gradient(to bottom, #5BA9D0 50px, #B0D6E8 250px, #FFECAB 250px, #F1D576 100%);
  background-repeat: no-repeat;
  background-color: #F1D576;
}
